@import "../../shared/styles/mixins.scss";

.mobile-toolbar {
  position: fixed;
  color: white;
  padding-left: 8px;
  z-index: 2;
}

.app-name {
  margin-left: 8px;
  letter-spacing: 1px;
}

.pc-nav-bar {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  text-transform: capitalize;

  a {
    font-size: 14px;
    color: inherit;
    padding: 16px 8px;
    font-weight: 400;
  }

  .home-link {
    cursor: pointer;
    outline: none;
  }

  z-index: 1000;
}

.header {
  background: #fff;
  transition: padding 0.3s bezier();
  -webkit-transition: padding 0.3s bezier();
  padding: 22px 0px;
}

.header-fixed {
  position: fixed;
  width: 100%;
  padding: 8px 0px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  z-index: 1000;
  @include keyframe(slide_down) {
    from {
      top: -20px;
    }
    to {
      top: 0px;
    }
  }
  animation: slide_down 250ms bezier();
}
