.sidenav {
  height: 100vh;
  width: 250px;
}

.mat-drawer-content {
  overflow: hidden;
}

.carousel-holder {
  position: relative;
  height: 570px;

  @media screen and (max-width: 570px) {
    height: 270px;
  }
}
