<perfect-scrollbar class="ps" style="height: 100vh;" [config]="">
  <div fxLayout="column" class="sidenav-container">

    <!-- close icon -->
    <div class="close-button">
      <button mat-icon-button color="warn" (click)="sidenav.toggle()">
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </div>

    <!-- logo with name -->
    <div fxLayout="column" fxLayoutAlign="start center" class="logo-name">
      <img src="./assets/images/logo.png" alt="small logo">
      <h4>First Quantam Minerals</h4>
    </div>

    <mat-divider></mat-divider>

    <!-- navigation links -->
    <div fxLayout="column" fxLayoutAlign="start" class="sidenav-link">
      <a routerLink="home" (click)="sidenav.toggle()" mat-ripple><strong>home</strong></a>
      <!-- <a routerLink="/inspection-list" mat-ripple><strong>proof</strong></a> -->
      <a *ngIf="showOptions" (click)="scrollTo('service')" mat-ripple><strong>service</strong></a>
      <a *ngIf="showOptions" (click)="scrollTo('pricing')" mat-ripple><strong>rate</strong></a>
      <a routerLink="/exchange/buy" (click)="sidenav.toggle()" mat-ripple><strong>buy</strong></a>
      <a routerLink="/exchange/sell" (click)="sidenav.toggle()" mat-ripple><strong>sell</strong></a>
      <a *ngIf="showOptions" (click)="scrollTo('contact')" mat-ripple><strong>contact</strong></a>
    </div>
  </div>
</perfect-scrollbar>