.feature-card {
  height: 100%;
  &:hover {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14),
      0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  }

  .feature-icon {
    font-size: 96px;
    height: 96px;
    width: 96px;
  }
}
