/* For use in src/lib/core/theming/_palette.scss */
$material-colors: (
  orange: (
    50: #fef0e7,
    100: #fcdbc2,
    200: #fac39a,
    300: #f8aa71,
    400: #f79852,
    500: #f58634,
    600: #f47e2f,
    700: #f27327,
    800: #f06921,
    900: #ee5615,
    A100: #ffffff,
    A200: #ffefea,
    A400: #ffcab7,
    A700: #ffb79d,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  ),
  purple: (
    50: #f2e0f9,
    100: #dfb3f0,
    200: #c980e6,
    300: #b34ddb,
    400: #a326d4,
    500: #9300cc,
    600: #8b00c7,
    700: #8000c0,
    800: #7600b9,
    900: #6400ad,
    A100: #ecd7ff,
    A200: #d3a4ff,
    A400: #ba71ff,
    A700: #ae58ff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  ),
  lightgreen: (
    50: #e5f4f3,
    100: #bee4e1,
    200: #93d3cd,
    300: #67c1b8,
    400: #47b3a9,
    500: #26a69a,
    600: #229e92,
    700: #1c9588,
    800: #178b7e,
    900: #0d7b6c,
    A100: #adfff3,
    A200: #7affec,
    A400: #47ffe4,
    A700: #2dffe0,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  ),
  light: (
    50: #e8f2f9,
    100: #c6e0f0,
    200: #a0cbe6,
    300: #79b6db,
    400: #5da6d4,
    500: #4096cc,
    600: #3a8ec7,
    700: #3283c0,
    800: #2a79b9,
    900: #1c68ad,
    A100: #e5f2ff,
    A200: #b2d8ff,
    A400: #7fbeff,
    A700: #65b0ff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  ),
  red: (
    50: #fee8eb,
    100: #fcc5ce,
    200: #fa9eae,
    300: #f8778d,
    400: #f75974,
    500: #f53c5c,
    600: #f43654,
    700: #f22e4a,
    800: #f02741,
    900: #ee1a30,
    A100: #ffffff,
    A200: #ffedef,
    A400: #ffbac0,
    A700: #ffa1a9,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  ),
  magenta: (
    50: #fbe0ed,
    100: #f4b3d1,
    200: #ed80b3,
    300: #e64d94,
    400: #e0267d,
    500: #db0066,
    600: #d7005e,
    700: #d20053,
    800: #cd0049,
    900: #c40038,
    A100: #ffecf0,
    A200: #ffb9c8,
    A400: #ff86a0,
    A700: #ff6d8c,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  )
);
