<div class="swiper-container relative" [swiper]={}>
  <div class="swiper-wrapper">
    <div *ngFor="let slide of sliderList" class="swiper-slide grey-25">
      <!-- Required swiper-lazy class and image source specified in data-src attribute -->
      <img data-src={{slide?.imageUrl}} class="swiper-lazy">
      <!-- Preloader image -->
      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
    </div>

  </div>

  <!-- padination -->
  <div class="swiper-pagination swiper-pagination-white"></div>

  <!-- Navigation -->
  <button class="prev" mat-mini-fab>
    <mat-icon class="mat-18">navigate_before</mat-icon>
  </button>
  <button class="next" mat-mini-fab>
    <mat-icon class="mat-18">navigate_next</mat-icon>
  </button>
</div>