<div class="section" id="pricing">
  <div class="container">
    <h2>Dollar Rate</h2>
    <div fxLayout="column" fxLayoutGap="32px">
      <div class="light-grey" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="32px">
        <div>Buying Rate</div>
        <div fxLayout="column" fxFlex="1 1 0">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="py-24 ">
            <div>skrill</div>
            <div>bkash</div>
            <div>rocket</div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="py-24">
            <div>skrill</div>
            <div>bkash</div>
            <div>rocket</div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="py-24">
            <div>skrill</div>
            <div>bkash</div>
            <div>rocket</div>
          </div>
        </div>
      </div>

      <div class="light-grey" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="32px">
        <div>Selling Rate</div>
        <div fxLayout="column" fxFlex="1 1 0">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="py-24 ">
            <div>skrill</div>
            <div>bkash</div>
            <div>rocket</div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="py-24">
            <div>skrill</div>
            <div>bkash</div>
            <div>rocket</div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="py-24">
            <div>skrill</div>
            <div>bkash</div>
            <div>rocket</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>