<div class="section">
  <div class="container">
    <mat-vertical-stepper #stepper linear>

      <mat-step [stepControl]="firstFormGroup" label="Payment Method" state="balance">
        <form fxLayout="column" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Payment Details</ng-template>

          <mat-form-field>
            <mat-select placeholder="Payment Method" formControlName="from">
              <mat-option *ngFor="let option of paymentMethodList" value={{option}}>{{option | titlecase}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Receiving Method" formControlName="to">
              <mat-option *ngFor="let option of receivingMethodList" value={{option}}>{{option  | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Buying Amount</mat-label>
            <input matInput type="number" placeholder="100" formControlName="amount">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>

          <mat-form-field *ngIf="Amount" class="full-width" appearance="outline">
            <mat-label>You have to pay {{Amount ? Amount*(exchangeRate|async)?.sell : 0}} taka</mat-label>
            <input matInput type="number" placeholder="100" readonly="true">
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="secondFormGroup" label="Transaction Details" state="payment">
        <form fxLayout="column" [formGroup]="secondFormGroup" (ngSubmit)="requestTransaction()">
          <ng-template matStepLabel>Transaction Details</ng-template>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sender {{From}} Number</mat-label>
            <input matInput type="text" placeholder="01XXXXXXXXX" formControlName="sender">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Recipient {{To}} Email</mat-label>
            <input matInput type="email" placeholder="dollar-exchange@xmail.com" formControlName="email">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Transaction ID</mat-label>
            <input matInput type="text" placeholder="Transaction ID" formControlName="transactionID">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input matInput type="text" placeholder="01XXXXXXXXX" formControlName="contact">
          </mat-form-field>
          <!-- <div>
            <button mat-button matStepperNext>Next</button>
          </div> -->

          <div class="mt-16">
            <button mat-button type="button" matStepperPrevious>Back</button>
            <button mat-button type="button" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button matStepperNext color="primary">Submit</button>
          </div>

        </form>
      </mat-step>


      <mat-step label="Done" state="done">
        <ng-template matStepLabel>Done</ng-template>
        Your request is under process. We will contact you shortly
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="balance">
        <mat-icon>account_balance</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="payment">
        <mat-icon>payment</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
      </ng-template>

    </mat-vertical-stepper>
  </div>
</div>